.green-gradient {
  background: linear-gradient(180deg, var(--white) 0%, #41DC5A 131.9%);
}

.blue-gradient {
  background: linear-gradient(85deg, #1A73EB 2.44%, #711AEB 93.27%);
}

.red-gradient {
  background: linear-gradient(180deg, #FFF 0%, #FB7491 122.59%);
}

.cardborder-1 {
  border: 1px solid rgba(var(--black-rgb),.20);
}

.cardborder-2 {
  border: 1.76px solid rgba(var(--black-rgb),.20);

}

.cardborder-3 {
  border: 1.198px solid rgba(var(--black-rgb),.20);
}

.text-border {
  border: 1px solid rgba(var(--white-rgb), 0.50);
}

.spliter:not(:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  opacity: 0.15;
  background: var(--black);
  margin: 20px 0;
}

.progress-bar {
  border-radius: 90px;
  border: 1px solid rgba(var(--white-rgb), 0.50);
  background: rgba(var(--white-rgb), 0.40);
  height: 16px;
}

.progress {
  height: 100%;
  background: white;
  border-radius: 90px;
}

.blur-12px {
  filter: blur(12.5px);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup.open {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--black-rgb),.5);
}

.blur {
  backdrop-filter: blur(6.5px);
  fill: rgba(var(--black-rgb),.25);
}

.popup .content {
  position: relative;
  padding: 20px;
  border-radius: 45px;
  z-index: 2;
}

.normalPopSize{
  min-width: 600px;
  height: 550px;
  
}

/* .popup .content */
 .header-border {
  border: 1px solid rgba(var(--black-rgb),.20);

}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.system-buttom {
  width: min-content;
  flex-shrink: 0;
  border-radius: 41.5px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
}

.system-buttom span {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.dashboard_padge{
  border-radius: 20px;
  background: var(--water);
 }