.minmax-280 {
  grid-template-columns: repeat(auto-fill, minmax(293px, 1fr));
}

.minmax-360 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
}


.page-header {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.315px;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.mood-boards-header {
  color: var(--black);
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  opacity: .8;
}