
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  
.home-card {
    width: 100%;
    max-width: 313px;
    margin-bottom: 50px;
  }
  
    @media (max-width: 786px) {
    .home-card {
        max-width: 100%;
      }
  }

  .home-card>.project {
    position: relative;
    background: lightgray 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    aspect-ratio: calc(313/225);
    overflow: hidden;
    /* height: 225px; */
  }
  
  .home-card .sound,
  .home-card .love {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 15px;
  
  }
  
  .home-card .sound {
    left: 15px;
  }
  
  .home-card .love {
    right: 15px;
  }
  
  
  .home-card .details {
    width: 100%;
  }
  
  .home-card .creator-info {
    margin-top: 12px;
    display: flex;
    align-items: center;
  }
  
  .home-card .creator-info .name {
    
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .home-card .creator-info .profile {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  
  }
  
  .home-card .creator-info .name {
    width: fit-content;
    width: -webkit-fill-available;
    
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.315px;
    text-transform: capitalize;
  }
  
  .home-card .creator-info .value {
    padding-right: 7px;
    
    font-size: 17px;
    font-weight: 500;
    opacity: 0.8;
  }
  
  .home-card .creator-info .rating {
    margin-left: 7px;
  }
  
  .home-card .film-name {
    margin: 10px 0;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.315px;
    text-transform: capitalize;
    opacity: 0.7;
  }
  
  .home-card .price {
    margin: 10px 0;
    color: var(--black);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .page-header {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.315px;
    text-transform: capitalize;
    padding-bottom: 25px;
  }
  
  .mood-boards-header{
    color: var(--black);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    opacity: .8;
  }

